body{
    display: flex;
    flex-direction: column;
}

.create-quiz-form{
    margin: auto;
    background: rgba(230, 230, 249, 0.47);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.create-quiz-form *{
    margin: 5px;
}
