/* editQuiz.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

h2 {
    color: #444;
    margin-top: 10px;
}

.question {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 50%;
}

.removeQuestion {
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 50%;
}

#questionText {
    font-weight: bold;
    margin-bottom: 10px;
}

#questionImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.questionOptions ul {
    list-style-type: disc;
    margin-left: 20px;
}

.matching-container {
    display: flex;
    justify-content: space-between;
}

.side {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#leftSide {
    margin-right: 10px;
}

#rightSide {
    margin-left: 10px;
}

.add-question {
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 999;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}


#questionType {
    padding: 8px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.timer {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

.no-timer {
    font-weight: bold;
    color: red;
}
