
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 20px auto;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6fa2d5;
    color: white;
}

/* Add alternating background colors for rows */
tr:nth-child(even) {
    background-color: #f5f5f5;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
