.navbar-nav li{
    margin-left: 20px;
    margin-right: 20px;
}

.animated-bg {
    background-image: linear-gradient(45deg, rgba(96, 240, 211, 0.12), rgba(120, 107, 223, 0.33), rgba(255, 117, 234, 0.08));
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0%, 100% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
}

/* Custom Font and Styles */
body {
    font-family: 'Quicksand', sans-serif;
}

.navbar-nav .nav-item .nav-link {
    color: #131326;
    transition: color 0.3s ease;
    border-radius: 50%;
}
.navbar-nav .nav-item .nav-link i {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #232121;
}

.custom-input {
    border: 2px solid #b5cee2;
    border-radius: 25px;
    padding: 5px 15px;
    transition: border-color 0.3s ease;
}

.custom-input:focus {
    border-color: rgba(118, 129, 221, 0.52);
    box-shadow: 0 0 5px rgb(200, 182, 180);
}

.custom-btn {
    color: black;
    color-scheme: dark;
    background-color: rgb(244, 239, 239);
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #0d0c0c;
}

/* Add more custom styles and animations as needed */