.navbar{
    width: 35vh;
    height: 100vh;
    font-family: Times New Roman, sans-serif, "Inter Semi Bold";
    font-size: 8px;
    background: linear-gradient(to bottom, rgba(181, 224, 231, 0.8), rgba(195, 195, 248, 0.72));
    /*background: repeating-linear-gradient(132deg, rgba(152, 231, 154, 0.11), rgba(235, 223, 213, 0.2) 20px, rgba(255, 153, 153, 0.28) 40px);*/

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

a{
    text-decoration: none;
}

.nav-link{
    font-size: 20px;
    margin-left: 0;
}

.navbar a {
    color: black;
    font-weight: bold;
    transition: color 0.2s ease;

}

.navbar a:hover {
    color: rgb(3, 164, 151);
}

.nav-link {
    margin-bottom: 20px; /* Adjust the spacing as needed */
}


