* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 13px;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    /*font-family: "Droid Sans Mono Slashed", Serif, serif;*/
}

.question-page {
    width: 90rem;
    background-color: #f1f1f1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.question-card {
    width: 90%;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 10px;
    border-color: #131326;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.question-card input {
    padding: 5px;
    border-radius: 2px;
    background-color: #f1f1f1;
    border: 1px solid darkcyan;
    color: #333;
    transition: border-color 0.3s ease-in-out;
    margin: 10px;
}

.question-card input:focus {
    outline: none;
    border-color: #00898b;
}

.finish {
    padding: 10px 20px;
    background-color: #00418b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 10%;
    margin: 10px auto;
}


.finish:hover {
    background-color: rgba(36, 130, 226, 0.87);
    transform: scale(1.05);
}
